@charset "utf-8";

html {
    height: 100%;
    width: 100%;
}

body {
    font-family: 'Ubuntu', sans-serif !important;
    min-height: 100%;
    position: relative;
    width: 100%;
}

.main-container {
    align-items: center;
    background-image: url("../img/bg.png");
    background-repeat: no-repeat;
    background-color: hsla(34, 98%, 75%, 0.66);
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 100vh;
    overflow: hidden;
    padding: 20px;
    position: relative;
    text-align: center;
    width: 100%;
}

.blur {
    height: 100%;
    opacity: 0.6;
    position: absolute;
    width: 100%;
    z-index: 9;
}

.game-wrapper {
    height: 100%;
    width: 100%;
    z-index: 11;
}

.doggo-wrapper {
    z-index: 10;
}

.doggo {
    max-width: 400px;
    max-height: 600px;
    position: absolute;
    z-index: 10;
}

.doggo-u-l {
    margin: -50px 0 0 -50px;
    left: 0;
    top: 0;
}

.doggo-u-r {
    margin: 0 -50px -50px 0;
    right: 0;
    top: 0;
}

.doggo-d-l {
    margin:  0 0 -50px -50px;
    bottom: 0;
    left: 0;
}

.doggo-d-r {
    margin: 0 -50px -50px 0;
    bottom: 0;
    right: 0;
}

.btn-reset {
    background: #ff0d61;
    border-radius: 5px;
    color: #eeeeee;
    cursor: pointer;
    font-size: 20px;
    height: 54px;
    margin-top: 15px;
    visibility: hidden;
    width: 266px;
}

.btn-reset__visible {
    visibility: visible;
}

.cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0 auto;
    width: 50%;
}

.cards[data-items-per-row="3"] .card-wrapper {
    --items-per-row: 3;
}

.cards[data-items-per-row="4"] .card-wrapper {
    --items-per-row: 4;
}

.card-wrapper {
    cursor: pointer;
    flex: 0 0 auto;
    margin: 1%;
    position: relative;
    padding-top: 23%;
    width: 23%;
}

.card-content {
    border: 6px solid white;
    border-radius: 5px;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    transform-style: preserve-3d;
    transition: transform 900ms, border-color 600ms;
}

.card-front,
.card-back {
    backface-visibility: hidden;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
}

.card-front {
    background: #ffeacf;
}

.card-back {
    background-size: cover;
    transform: rotateY(180deg);
}

.card-wrapper[data-flipped] .card-content {
    transform: rotateY(180deg);
    transition: transform 600ms, border-color 600ms;
}

.card-wrapper[data-flipped="try"] .card-content {
    border-color: #fff7ae;
}

.card-wrapper[data-flipped="correct"] .card-content {
    border-color: #76ddad;
}

.card-wrapper[data-flipped="error"] .card-content {
    border-color: #d25050;
}

.try-counter {
    color: #2691F9;
    font-size: 36px;
    font-weight: 700;
    margin-bottom: 15px;
    text-align: center;
    text-shadow: 1px 1px #555;
    text-transform: uppercase;
}

.try-counter:after {
    content: attr(data-tries-left);
}

.try-counter:before {
    content: 'Осталось попыток: ';
}

.result-modal * {
    font-family: 'Ubuntu', sans-serif;
}

.result-modal .modal-body {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 500px;
    max-height: 100%;
    max-width: 100%;
    width: 500px;
}

.result-modal .result-text {
    color: hsla(211, 100%, 56%, 1);
    font-size: 30px;
    font-weight: 700;
}

.result-modal .doge-reaction {
    margin-bottom: 30px;
    max-height: 400px;
    max-width: 400px;
}

.result-modal .try-again-link {
    color: hsla(339, 100%, 53%, 1);
}

@media (max-width: 762px) {
    .cards {
        width: 80%;
    } 
}

@media (max-width: 550px) {
    .cards {
        width: 96%;
    }
}
